name: Beagle Release

on:
    push:
        tags:
            - '*'
jobs:
    generate-release:
        name: Generate release
        runs-on: macos-latest
        steps:
          - name: Checkout repo
            uses: actions/checkout@v3

          - name: Stup Java version
            uses: actions/setup-java@v3
            with:
              distribution: 'zulu'
              java-version: '11'

          - name: Generate sign gpg file on .gradle folder
            run: bash publication/maven_signing.sh
            env:
              GPG_KEY_CONTENTS: ${{ secrets.GPG_KEY_CONTENTS }}

          - name: Generate release artifact
            id: gradle
            uses: gradle/gradle-build-action@v2
            env:
              VERSION_NAME: ${{ github.REF }}
            with:
              arguments: assembleRelease

          - name: Generate metadata file for publication
            id: gradle
            uses: gradle/gradle-build-action@v2
            env:
              SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
              SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
              ORG_GRADLE_PROJECT_SIGNINGKEYID: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
              ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
            with:
              arguments: generateMetadataFileForAndroidReleasePublication

          - name: Sign the artifact
            id: gradle
            uses: gradle/gradle-build-action@v2
            env:
              SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
              SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
              ORG_GRADLE_PROJECT_SIGNINGKEYID: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
              ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
            with:
              arguments: signAndroidReleasePublication

          - name: Publish the artifact
            id: gradle
            uses: gradle/gradle-build-action@v2
            env:
              SONATYPE_NEXUS_USERNAME: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
              SONATYPE_NEXUS_PASSWORD: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
              ORG_GRADLE_PROJECT_SIGNINGKEYID: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
              ORG_GRADLE_PROJECT_SIGNINGPASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}
            with:
              arguments: publishAndroidReleasePublicationToOssRepository
