name: Pull request validation

on:
  pull_request:
    branches: [main]

jobs:
  validation:
    runs-on: macos-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: clear cache
        run: ./gradlew test
