name: Pull request validation

on:
  pull_request:
    branches: [main]

jobs:
  validation:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - uses: gradle/gradle-build-action@v2
        with:
          arguments: test
